<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>BugBeGone</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="static/resources/normalize.css">
    <link rel="stylesheet" href="static/resources/font.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <link rel="stylesheet" href="static/resources/Magnific-Popup-master/dist/magnific-popup.css">
    <link rel="stylesheet" href="static/resources/OwlCarousel2-2.3.4/dist/assets/owl.carousel.css">
    <link rel="stylesheet" href="static/resources/OwlCarousel2-2.3.4/dist/assets/owl.theme.default.css">
    <link rel="stylesheet" href="static/resources/animate.css-main/animate.css">
    <link rel="stylesheet" href="static/styles/style.css">
    <script src="https://kit.fontawesome.com/ccff26c93b.js" crossorigin="anonymous"></script>
  </head>
  <body onload="verify()">

    <!-- header -->
    <header class="header" id="intro">
      <nav class="navbar">
        <div class="container">
          <div class="brand-and-toggler">
            <a href="/" class="navbar-brand">
              BugBeGone
            </a>
            <button type="button" class="navbar-toggler" id="navbar-toggler">
              <i class="fas fa-bars"></i>
            </button>
          </div>

          <div class="navbar-collapse">
            <ul id="list" class="navbar-nav">
              <li class="nav-item">
                <a href="#info" class="nav-link">info</a>
              </li>
              <li class="nav-item">
                <a href="#feature" class="nav-link">feature</a>
              </li>
              <li class="nav-item">
                <a href="#team" class="nav-link">team</a>
              </li>
              <li class="nav-item">
                <a href="#pricing" class="nav-link">pricing</a>
              </li>
              <li class="nav-item">
                <a href="#contact" class="nav-link">contact</a>
              </li>
              <li class="nav-item" id="signup-link">
                <a href="/register" class="nav-link">sign up</a>
              </li>
              <li class="nav-item" id="login-link">
                <a href="/login" class="nav-link">login</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

      <div class="hero-div center container">
        <h1>BugBeGone, Bug Tracking Software</h1>
        <p class="animate__animated animate__fadeInUp animate__slow">The best way to track and solve bugs as a team.</p>

        <div class="hero-btns animate__animated animate__fadeInUp animate__slow">
          <a href="https://discord.gg/9ZdkyRmxCH"><button type="button" class="btn-trans">Join our Discord</button></a>
          <a href="/register"><button type="button" class="btn-white">Get Started</button></a>
        </div>
      </div>
    </header>
    <!-- end of header -->

    <!-- detail section -->
    <section class="detail" id="info">
      <div class="container">
        <div class="row">
          <div class="detail-item wow animate__animated animate__fadeInLeft animate__slow">
            <span><i class="fas fa-tablet-alt"></i></span>
            <h2>Simple and easy</h2>
            <div class="line"></div>
            <p class="text">We strive to provide an easy to use service with a simple UI/UX</p>
          </div>

          <div class="detail-item wow animate__animated animate__fadeInUp animate__s">
            <span><i class="fas fa-reply"></i></span>
            <h2>Quick Responce</h2>
            <div class="line"></div>
            <p class="text">Our staff works quick to respond to your questoins over email or in our Discord!</p>
          </div>

          <a href="https://discord.gg/9ZdkyRmxCH">
            <div class="detail-item wow animate__animated animate__fadeInRight animate__s">
              <span><i class="fa-brands fa-discord"></i></span>
              <h2>Join Our Discord</h2>
              <div class="line"></div>
              <p class="text">For quick communication between staff and other users, join our Discord!</p>
            </div>
          </a>
        </div>
      </div>
    </section>
    <!-- end of detial section -->
    
    <!-- features section -->
    <section class="feature" id="feature">
      <div class="container">
        <div class="row">
          <div class="feature-left wow animate__animated animate__fadeInUp animate__slow">
            <img src="static/images/features-mockup.png" alt="">
          </div>
          <div class="feature-right wow animate__animated animate__fadeInUp animate__slow">
            <div class="title">
              <h2>Explore the Features</h2>
              <p class="text">We give many great features to simplify your bug tracking needs</p>
            </div>

            <div class="feature-item">
              <span><i class="fas fa-tablet-alt"></i></span>
              <div>
                <h3>Create a team</h3>
                <p class="text">Register an account and create your team to start tracking bugs and assigning team members.</p>
              </div>
            </div>

            <div class="feature-item">
              <span><i class="fas fa-clone"></i></span>
              <div>
                <h3>Complete a bug</h3>
                <p class="text">Assigned to a bug? Solve it and mark it as resolved, leaving your comment with it to show others.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- end of features section -->

    <!-- team section -->
    <section class="team" id="team">
      <div class="container">
        <div class="title">
          <h2 class="wow animate__animated animate__bounceIn animate__slow">Meet Best People</h2>
          <p class="text">View all of our Team members</p>
        </div>

        <div class="row owl-carousel owl-theme wow animate__animated animate__fadeInUp animate__slow">
          <div class="team-item">
            <div class="team-img">
              <img src="static/images/McDazzled.png" alt="team-ceo">
              <div class="team-icons">
                <a href="https://twitter.com/BraedenSowinski" class="center">
                  <i class="fab fa-twitter"></i>
                </a>
                <a href="https://github.com/SowinskiBraeden" class="center">
                  <i class="fab fa-github"></i>
                </a>
              </div>
            </div>
            <div class="team-info">
              <h3>Braeden Sowinski</h3>
              <span>CEO & Lead Developer</span>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- end of team section -->
    
    <!-- faq section -->
    <section class="faq">
      <div class="container">
        <div class="title">
          <h2 class="wow animate__animated animate__bounceIn animate__slow">Have Any Questions?</h2>
          <p class="text">Here are some questions you may be thinking of</p>
        </div>

        <div class="row wow animate__animated animate__fadeInUp animate__slow">
          <div class="faq-item">
            <div class="faq-head">
              <h3>What is BugBeGone?</h3>
              <span><i class="fas fa-plus"></i></span>
            </div>
            <div class="faq-content">
              <p class="text">BugBeGone is an all in one bug tracker for your projects or businesses.</p>
              <p class="text">It allows anybody to report a bug to your team, then you can assign a member to solve the bug.</p>
            </div>
          </div>

          <div class="faq-item">
            <div class="faq-head">
              <h3>How can I start?</h3>
              <span><i class="fas fa-plus"></i></span>
            </div>
            <div class="faq-content">
              <p class="text">To start off, simply register an account. If you are here to report a bug, you can search your desired project with its team code.</p>
              <p class="text">If you are here to run a bug tracker, create or join a team. If you create a team, invite members, and get to work!</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- end of faq section -->

    <!-- pricing section -->
    <section class="pricing" id="pricing">
      <div class="container">
        <div class="title">
          <h2 class="wow animate__animated animate__bounceIn animate__slow">Our Package</h2>
          <p class="text">We offer two seperate packages...</p>
        </div>

        <div class="row wow animate__animated animate__fadeInUp animate__slow">
          <div class="pricing-item">
            <h2>Standard Version</h2>
            <div class="price">
              <span>$ 0</span>
              <span class="text">Monthly</span>
            </div>
            <ul>
              <li>1 Team</li>
              <li>3 Team Members</li>
              <li>Be in up to 1 team</li>
              <li>General Support</li>
            </ul>
          </div>

          <div class="pricing-item">
            <h2>Professional Version</h2>
            <div class="price">
              <span>$ 18</span>
              <span class="text">Monthly</span>
            </div>
            <ul>
              <li>2 Teams</li>
              <li>7 Team Members</li>
              <li>Be in up to 2 teams</li>
              <li>General Support</li>
            </ul>
          </div>

          <div class="pricing-item">
            <h2>Business Version</h2>
            <div class="price">
              <span>$ 38</span>
              <span class="text">Monthly</span>
            </div>
            <ul>
              <li>5 Teams</li>
              <li>24 Team Members</li>
              <li>Be in up to 5 teams</li>
              <li>Speedy Support</li>
              <li>Reliable Service</li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <!-- end of pricing section -->

    <!-- contact section -->
    <section class="contact" id="contact">
      <div class="container">
        <div class="title">
          <h2 class="wow animate__animated animate__bounceIn animate__slow">Contact Us</h2>
          <p class="text">Any questions, concerns, etc. Feel free to contact us</p>
        </div>

        <div class="row wow animate__animated animate__fadeInUp animate__slow">
          <div class="contact-left">
            <h2>Send Message Here</h2>
            <form>
              <input type="text" class="form-control" placeholder="Name">
              <input type="email" class="form-control" placeholder="Email">
              <textarea placeholder="Message" rows="6"></textarea>
              <button type="submit" class="submit-btn">Send Now</button>
            </form>
          </div>

          <div class="contact-right">
            <div>
              <h2>Send Email</h2>
              <p class="text">sowinskibraeden@gmail.com</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- end of contact section -->

    <!-- footer -->
    <footer class="footer center">
      <div class="container">
        <div class="footer-links">
          <a href="#" class="center">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="#" class="center">
            <i class="fab fa-github"></i>
          </a>
        </div>
      </div>
    </footer>

    <script src="static/resources/jquery-3.5.1.js"></script>
    <script src="static/resources/Magnific-Popup-master/dist/jquery.magnific-popup.js"></script>
    <script src="static/resources/OwlCarousel2-2.3.4/dist/owl.carousel.js"></script>
    <script src="static/resources/WOW-master/dist/wow.js"></script>
    <script src="static/scripts/script.js" ></script>

    <script>
      function verify() {
        let isLoggedIn = {{ .loggedIn }}
        if (isLoggedIn) {
          // Add dashboard link
          let a = document.getElementById("list");
          let candidate = document.getElementById("candidate");
          let li = document.createElement("li");
          li.setAttribute('class', 'nav-item');
          let link = document.createElement("a");
          link.setAttribute('href', '/dashboard')
          link.setAttribute('class', 'nav-link')
          link.appendChild(document.createTextNode("dashboard"));
          li.appendChild(link);
          a.appendChild(li);

          // Remove login/signup links
          // Declaring a variable to get select element
          let item = document.getElementById('login-link');
          a.removeChild(item);
          item = document.getElementById('signup-link')
          a.removeChild(item)
        }
      }
      </script>
  </body>
</html>