:root{
  --mount-meadow: #1bbc9c;
  --white-smoke: #f0f0f0;
  --night-rider: #343434;
  --black: #191b17;
  --transition: all 0.5s ease-in-out;
}
* {
  margin: 0;
  padding: 0;
}
*, *:after, *:before {
  box-sizing: border-box;
}
body {
  background: #191b17;
  font-size: 1.5em;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", sans-serif;
  font-weight: 100;
  text-align: center;
}
#signup:hover {
  cursor: pointer;
}
.title {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -25%);
  font-weight: 80;
  z-index: 3;
}
.title h1 {
  color: var(--white-smoke);
}
.container2{
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 1rem;
}
.navbar{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}
.brand-and-toggler{
  font-size: 1.65rem;
  padding: 0.8rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-brand{
  font-weight: 500;
  color: var(--night-rider);
  text-decoration: none;
}
.navbar-brand span{
  color: var(--mount-meadow);
}
.navbar-toggler{
  border: none;
  color: var(--mount-meadow);
}
.navbar-nav{
  margin: 0.2rem 0 0.6rem 0;
}
.nav-item{
  padding: 0.6rem 0;
  list-style: none;
}
.nav-link{
  color: var(--night-rider);
  text-transform: uppercase;
  font-size: 0.95rem;
  letter-spacing: 1.5px;
  font-weight: 400;
  opacity: 0.65;
  transition: var(--transition);
  text-decoration: none;
}
.nav-link:hover{
  color: var(--mount-meadow)!important;
}
.navbar-collapse{
  display: none;
}
.container {
  background: #495069;
  color: var(--white-smoke);
  display: inline-block;
  padding: 0em 2em;
  margin: 6em auto;
  box-shadow: 0 50px 50px rgba(0,0,0,0.2);
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -25%);
}
.container .navigation {
  text-align: left;
}
.container .navigation ol {
  list-style: none;
  background: #495069;
  position: absolute;
  padding: 30px 0;
  width: 600px;
  z-index: 100;
  margin-bottom: 30px;
}
.container .navigation ol li {
  display: inline-block;
  margin-right: 27px;
  font-size: 0.7em;
  max-width: 20%;
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.container .navigation ol li a {
  color: #fff;
  text-decoration: none;
  position: relative;
  z-index: 2;
  cursor: pointer;
  opacity: 0;
}
.container .navigation ol li a.done {
  opacity: 1;
}
.container .sign-form {
  width: 600px;
  text-align: left;
  margin: 85px 0 0 0;
}
.container .sign-form #next-page {
  opacity: 0;
  width: 40px;
  height: 40px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 20px;
  background: url("https://jdniki.github.io/signup/images/next-page.svg");
  background-size: contain;
}
.container .sign-form #next-page:hover {
  background: url("https://jdniki.github.io/signup/images/next-pagehover.svg");
  background-size: contain;
}
.container .sign-form .questions {
  list-style: none;
  -webkit-transition: height 0.4s;
  transition: height 0.4s;
  width: 88%;
  display: inline-block;
  height: 80px;
}
.container .sign-form .questions li {
  position: absolute;
  width: 500px;
}
.container .sign-form .questions li span {
  display: block;
  margin-bottom: 10px;
}
.container .sign-form .questions li input {
  width: 100%;
  font-size: .9em;
  color: #f2f2f2;
  margin: 0.3em 0 1em 0;
  border: none;
  background: none;
  border-bottom: 3px solid #fff;
  padding: 0.5em 0.1em;
  transition: all 0.5s ease;
}
.container .sign-form .questions li input:focus {
  outline: none;
  border-bottom: 3px solid #6A79A6;
}
.container .sign-form .questions li:not(:first-child) {
  opacity: 0;
  margin-top: 150px;
}
.container .sign-form .questions li #viewpswd {
  position: absolute;
  opacity: 0;
}
.container .sign-form .questions li #show-pwd {
  margin: -2.75em 0em;
  width: 40px;
  height: 40px;
  position: absolute;
  right: 0;
  color: rgba(255,255,255,0.4);
  cursor: pointer;
}
.container .sign-form .questions li #show-pwd.view {
  background: url("https://jdniki.github.io/signup/images/view.svg");
  background-size: contain;
}
.container .sign-form .questions li #show-pwd.hide {
  background: url("https://jdniki.github.io/signup/images/hide.svg");
  background-size: contain;
}
.container .sign-form .questions li #show-pwd:active, .container .sign-form .questions li #show-pwd:focus {
  background: url("https://jdniki.github.io/signup/images/hide.svg");
  background-size: contain;
}
.container .error-message {
  color: rgba(207,0,0,0.56);
  font-size: 14px;
  margin-top: 10px;
  padding-bottom: 30px;
  background: #495069;
}
::-webkit-input-placeholder {
  font-size: 0.9em;
  color: rgb(255, 255, 255);
}
:-moz-placeholder {
  font-size: 0.9em;
  color: rgb(255, 255, 255);
}
::-moz-placeholder {
  font-size: 0.9em;
  color: rgb(255, 255, 255);
}
:-ms-input-placeholder {
  font-size: 0.9em;
  color: rgb(255, 255, 255);
}
@-webkit-keyframes moveUpFromDown {
  from {
    -webkit-transform: translateY(100%);
 }
  to {
    -webkit-transform: translateY(0);
 }
}
@keyframes moveUpFromDown {
  from {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
 }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
 }
}

@media screen and (min-width: 992px){
  .navbar{
      background: transparent;
      margin-top: 1.4rem;
  }
  .navbar .container2{
      display: flex;
      align-items: center;
      justify-content: space-between;
  }
  .navbar-brand{
      color: var(--white-smoke);
      font-size: 2rem;
  }
  .navbar-toggler{
      display: none;
  }
  .navbar-collapse{
      display: block!important;
  }
  .navbar-nav{
      display: flex;
      margin: 0;
  }
  .nav-item{
      margin-left: 1.8rem;
  }
  .nav-link{
      color: var(--white-smoke);
  }

  /* navbar change */
  .cng-navbar{
      -webkit-box-shadow: 0 2px 5px 0 rgba(207, 205, 207, 0.3);
      -moz-box-shadow: 0 2px 5px 0 rgba(207, 205, 207, 0.3);
      box-shadow: 0 2px 5px 0 rgba(207, 205, 207, 0.3);
      margin-top: 0;
      background: #fff;
  }
  .cng-navbar .navbar-brand{
      color: var(--night-rider);
  }
  .cng-navbar .nav-link{
      color: var(--night-rider);
  }
}